<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JavaSeleniumMaven_Suite">
  
  <test thread-count="5" name="Sample1Test">
    <classes>     
      <class name="mytest1.SampleTest1"/>
      <class name="mytest1.SampleTest2"/>
    </classes>
  </test> <!-- Test -->  
  
  <test thread-count="5" name="Sample1Test">
    <classes>     
      <class name="mytest2.MyModuleTest1"/>      
    </classes>
  </test> <!-- Test -->  
    
</suite> <!-- Suite -->
